//***********----------------COLORS----------------***********//
$black: #111111;
$white: #ffffff;
$light-white: darken($white, 25%);
$link-color: #1D76C8;
$background-color-iphone: #F0F0F0;


//***********----------------TYPOGRAPHY----------------***********//
$font-apple: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
$h1-size: 56px;
$h3-size: 30px;