
//***********----------------NAV----------------***********//
nav {
  position: fixed;
  width: 100%;
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
  }
  
}


//***********----------------IPHONE-X----------------***********//

.iphone-x {
  padding-top: 200px;
  text-align: center;
}

//***********----------------IPAD----------------***********//

.ipad {
  margin-top: 10px;
  text-align: center;
}